<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
	
    <display-name>Test</display-name>
    <context-param>
        <param-name>javax.faces.application.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>            
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>
    <context-param>
       <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
       <param-value>true</param-value>
    </context-param>
    <context-param>
	<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
	<param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>65535</param-value>
    </context-param>
    <!--<listener>
            <listener-class>com.felix.cloudcpm.web.listener.SessionListener</listener-class>
    </listener> -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
        <!--<param-value>Development</param-value>-->
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--<context-param>
            <param-name>resteasy.resources</param-name>
            <param-value>com.felix.cloudcpm.service.api.CommonAPIServiceImpl, com.felix.cloudcpm.service.api.ProductAPIServiceImpl</param-value>
    </context-param>
    <context-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/rest</param-value>
    </context-param>
    <context-param>
	<param-name>com.sun.faces.defaultResourceMaxAge</param-name>
	<param-value>3628800000</param-value> 
   </context-param>-->
  
   <!--<context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6Le12BMTAAAAABMoEMmy0Kmo2dwZERfT5KjyygbK</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6Le12BMTAAAAAGak3K2NpSSyzpL1eRJcRuEzOC6K</param-value>
    </context-param>-->   
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<servlet>
            <servlet-name>resteasy-servlet</servlet-name>
            <servlet-class>
                    org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>-->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
            <servlet-name>resteasy-servlet</servlet-name>
            <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Push Servlet</servlet-name>
        <url-pattern>/primepush/*</url-pattern>
    </servlet-mapping>
    <servlet> 
        <servlet-name>Push Servlet</servlet-name> 
        <servlet-class>org.primefaces.push.PushServlet</servlet-class> 
         <async-supported>true</async-supported> 
    </servlet>
    <filter>	
            <filter-name>PrimeFaces FileUpload Filter</filter-name>	
            <filter-class>
                    org.primefaces.webapp.filter.FileUploadFilter	
            </filter-class>
            <init-param>
                <param-name>thresholdSize</param-name>
                <param-value>51200</param-value>
            </init-param>
             
            <init-param>
                <param-name>uploadDirectory</param-name>
                <param-value>/home/iesvn17/temp</param-value>
            </init-param>
            
</filter>
    <filter-mapping>		
            <filter-name>PrimeFaces FileUpload Filter</filter-name>		
            <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>-->
    <!--<error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.xhtml</location>
    </error-page>
    <error-page>
	  <exception-type>javax.faces.application.ViewExpiredException</exception-type>
	  <location>/login.xhtml</location>
  </error-page>-->
    <session-config>
            <session-timeout>30</session-timeout>
            <!-- Disables URL-based sessions (no more 'jsessionid' in the URL using Tomcat) -->
            <!--<tracking-mode>COOKIE</tracking-mode>-->
    </session-config>	
	
</web-app>
