.estore-prod{
	height: 150px;
	max-width: 100%;
}
.detail-img{
	max-width: 100%;
	max-height: 400px;
	
}
.detail-info li{
	font-variant: small-caps;
	font-size:lager;
	line-height:30px;
}
.thumb-img{
	with:60px;
	height: 60px;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
	box-shadow: 0px 0px 2px blue;
}
.thumb-img:hover{
	box-shadow: 0px 0px 3px red;

	}