<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
</head>
<body>

<div align="center">
<a th:href="@{/showNewEmployeeTeamProjectForm}">Add New EmployeeTeamProject</a>
<br>
<br>
<a th:href="@{/index}">Back to index</a>
<h1>EmployeeTeamProject List</h1>
<table border="1">
	<thead>
		<tr>
			<th>Employee</th>
			<th>Project</th>
			<th>Action</th>
			
		</tr>
	</thead>
	<tbody>
			  <tr th:each="etp : ${listETP}">
				<td th:text="${etp.employee.name}"></td>	
				<td th:text="${etp.teamProject.name}"></td>
				 <td><a th:href="@{/showEmployeeTeamProjectUpdate/{id}(id=${etp.id})}">Update</a>
					<a th:href="@{/deleteEmployeeTeamProject/{id}(id=${etp.id})}">Delete</a>
				 </td>  
			</tr> 
	</tbody>
</table> 

</div>
</body>
</html>