<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/bootstrap3.4.1/css/bootstrap.min.css}" rel="stylesheet" />
<title>Employee Management System</title>
</head>
<body>
	<div>
		<h1>Employee Management System</h1>
		<hr>
		<h3>Save EmployeeTeamProject</h3>
		<form th:action="@{/saveEmployeeTeamProject}" th:object="${employeeTeamProject}" method="post"  style="margin-left: 15px;">
			<div class="form-group">
				<label>Employee:</label>
				<select  th:field="*{employee}" id="employee" >
				<option th:each="d : ${listEmp}" th:value="${d.id}" th:text="${d.name}"/>
				</select>
				</div>
				
				<div class="form-group">
				<label>Project:</label>				
				<select  th:field="*{teamProject}" id="teamProject" >
				<option th:each="p : ${listProject}" th:value="${p.id}" th:text="${p.name}"/>
				</select>
				</div>
				<div class="form-group">
				<button class="btn btn-success"  style="margin-left: 15px;" type="submit">Save EmployeeTeamProject</button>
				</div>
	
		</form> 
		<hr>
		
		<a class="btn btn-primary" style="margin-left: 15px;" th:href="@{/employeeTeamProject}">Back to EmployeeTeamProject List</a>
	</div>
</body>
</html>